/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* utilities classes */
.d-flex {
  display: flex;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  overflow: hidden;
}
.img-css {
  object-fit: cover;
  object-fit: center;
}
.w-100 {
  width: 100%;
}
.fixed-nav {
  position: fixed;
  top: 0;
}
a {
  margin-bottom: 0;
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-90 {
  margin-top: 90px;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.text-white {
  color: #fff;
}
.w-60 {
  width: 60%!important;
}
/* navbar code  */
nav {
  padding: 10px;
}
/* Popular Cities Code Starts here */

.bg-color {
  background-color: #fff3f3;
}
.localities-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
.popular-text {
  font-size: 50px;
  color: #313131;
  font-weight: 500;
}
.mumbai-text {
  color: #6b6b6b;
  font-size: 18px;
}
.city-card {
  border: 1px solid #dadada;
  background-color: #ffffff;
  width: 17%;
  padding: 5px 0px;
  border-radius: 10px;
}
.card-number {
  color: #1c1c65;
  font-size: 30px;
  font-weight: 500;
}
.city-name {
  color: #969696;
  font-weight: 300;
}
.gap-10 {
  gap: 20px;
}
/* footer  */
.footer-bg-color {
  background-color: #2b9dde;
  padding: 20px;
}
.footer-text {
  font-size: 14px;
  color: #fff;
}
.coupon-card {
  background-color: #fbfbfb;
  width: 30%;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
  position: relative;
}
.coupon-card:before,
.coupon-card:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  top: 63%;
  transform: translateY(-50%);
  border: 1px solid #fbfbfb;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px inset;
}
.dashed-line:before,
.dashed-line:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 56px;
  top: 63%;
  transform: translateY(-50%);
  background-color: #fff;
  z-index: 10;
}
.dashed-line:before {
  left: -42px;
  z-index: 10;
  background-color: #ffffff;
}
.dashed-line:after {
  right: -42px;
  z-index: 10;
}
.coupon-card:before {
  left: -22px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px inset;
}
.coupon-card:after {
  right: -19px;
}
.brand {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}
.offer {
  font-size: 40px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-top: 10px;
  border-bottom-width: 4px;
  margin-bottom: 14px;
}
.dashed-line {
  border-top: 6px dashed #66666634;
}

.coupon-code {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 5px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 10px;
  border-radius: 30px;
}

.coupon-code:hover {
  background-color: #0056b3;
}

.validity {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

/* Form Popup Code Starts Here   */
.back-layer {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #000000a4;
  top: 0;
  z-index: 30;
  /* display: flex;
    align-items: center; */
  display: none;
}
.form-div {
  width: 33%;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 60px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 60px;
}
.input-padding {
  padding: 10px 20px;
  border: 1px solid #8080807e;
  border-radius: 5px;
}
.form-text {
  font-size: 24px;
  font-weight: 600;
  color: #273238;
}
.form-submit-btn {
  background-color: #2b9dde;
  color: #fff;
  border: none;
  padding: 10px 0px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}
.form {
  width: 60%;
  margin: 0 auto;
}
.form-close {
  top: 23px;
  right: 25px;
  cursor: pointer;
}

.add-btn {
  font-size: 34px;
  background-color: #2b9dde;
  border-radius: 50%;
  padding: 5px 16px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  position: fixed;
  bottom: 85px;
  right: 26px;
}
.add-btn i {
  font-weight: 400;
}
.err {
  color: #d90000;
}
/* Offers you will love starts here  */
.offer-bg-color {
  background-color: #f1f1f1;
}
.offer-text {
  font-size: 54px;
  color: #313131;
}
.desc-text {
  font-size: 14px;
  color: #6b6b6b;
  text-align: center;
}
.offers-padding {
  padding-top: 50px;
  padding-bottom: 70px;
}
.offers-card{
  margin-top: 59px !important;
  height: 360px;
  width: 80%;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;

}
.offer-card{
  width: 35%;
}
.custom-gap{
  gap: 50px;
}
.offers-card::-webkit-scrollbar {
  width: 6px; 
}

.offers-card::-webkit-scrollbar-thumb {
  background-color: #40A2D5;
  min-height: 1px;
}

.offers-card::-webkit-scrollbar-track {
  background-color: transparent; 
  border-left: 5px solid #CBCBCB; 
  border-right: 5px solid transparent; 
  border-radius: 5px; 
  margin: 0 auto;
}
.custom-image-radius{
  border-radius: 15px;
}
.offer-card img:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  scale: 1.01;
  transition: all 0.3s ease-in-out;
}

/* Popular Coupons starts here */
.popular-coupon-cards{
padding: 10px 10px 10px 20px;
margin-top: 10px ;
margin-bottom: 10px;
}
.popular-coupon-card{
  width: 340px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  padding: 50px 10px 40px 10px;
}
.grey-color-star{
  color: #D7D7D7;
}
.brand-image{
  background-color: #D9D9D9;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  }
.brand-name{
  font-size: 17px;
  color: #313131;
  font-weight: 300;
}
.brand-discount{
  font-size: 40px;
  font-weight: bold;
  color: #313131;
margin-top: 40px;
margin-bottom: 40px;
}
.star{
  top: 19px;
  left: 20px;
  cursor: pointer;
}
.owl-carousel .owl-stage-outer{
  padding: 30px 10px 50px 20px;

}
.popular-coupons-btn{
  background-color: #40A2D5;
  border: none;
  padding: 15px 20px;
  border-radius: 40px;
  font-weight: 500;
  cursor: pointer;
}