@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* utilities classes */
.d-flex {
  display: flex;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}
.img-css {
  object-fit: cover;
  object-fit: center;
}
.w-100 {
  width: 100%;
}
.fixed-nav {
  position: fixed;
  top: 0;
}
a {
  margin-bottom: 0;
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-90 {
  margin-top: 90px;
}
/* navbar code  */
nav {
  padding: 10px;
}
/* Popular Cities Code Starts here */

.bg-color {
  background-color: #fff3f3;
}
.localities-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
.popular-text {
  font-size: 54px;
  color: #313131;
  font-weight: 500;
}
.mumbai-text {
  color: #6b6b6b;
  font-size: 18px;
}
.city-card {
  border: 1px solid #dadada;
  background-color: #ffffff;
  width: 17%;
  padding: 5px 0px;
  border-radius: 10px;
}
.card-number {
  color: #1c1c65;
  font-size: 30px;
  font-weight: 500;
}
.city-name {
  color: #969696;
  font-weight: 300;
}
.gap-10 {
  gap: 20px;
}
/* footer  */
.footer-bg-color{
    background-color: #2B9DDE;
    padding: 20px;
}
.footer-text{
    font-size: 14px;
    color: #fff;
}